<p>Listado de Héroes</p>

<div *ngIf="heroeBorrado !=='' ; else noBorrado">
    <H3>Héroe borrado :  <small>{{heroeBorrado}}</small></H3>
</div>

<!-- el #noBorrado en una variable local, lo cual nos permite comprender si el borrado de heroes llego a su fin-->
<ng-template #noBorrado>
    <H3><small>No ha borrado nada</small></H3>
</ng-template> 



<button (click) ="borrarHeroe()">
    Borrar
</button>

<ul> 
    <li *ngFor="let heroe of heroes; let i = index"> 
        <!-- dentro de este ciclo llamamos al arreglo de heroes que hemos creado previamente
            ademas de que el ngfor trabaja muy similar al foreach -->
        {{i + 1}} - {{heroe}}
    </li>
</ul>
